[tool.poetry]
name = "panoptica"
version = "0.0.0"
description = "Panoptic Quality (PQ) computation for binary masks."
authors = ["Florian Kofler <florian.kofler@tum.de>"]
repository = "https://github.com/BrainLesion/panoptica"
homepage = "https://github.com/BrainLesion/panoptica"
documentation = "https://panoptica.readthedocs.io/"
readme = "README.md"


[tool.poetry-dynamic-versioning]
enable = true


# Add the exclude field directly under [tool.poetry]
exclude = ["examples", "benchmark"]

[tool.poetry.dependencies]
python = "^3.10"
numpy = "^1.20.0"
connected-components-3d = "^3.12.3"
scipy = "^1.7.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pytest-mock = "^3.6.0"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"
# build-backend = "poetry.core.masonry.api"
