[tool.poetry]
name = "panoptica"
version = "0.3.2"
description = "Panoptic Quality (PQ) computation for binary masks."
authors = ["Florian Kofler <florian.kofler@tum.de>"]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.20.0"
connected-components-3d = "^3.12.3"
scipy = "^1.7.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pytest-mock = "^3.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
